.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: stretch;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form label {
    margin-right: 0.5ex;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#error {
    color: red;
}