.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table-title-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#table-container {
    width: 100%;
    height: 100%;
}

.table-header-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row-actions {
    width: 1%;
    white-space: nowrap;
}

.status-select {
    padding: 4px 8px 4px 8px;
}

.profile-card {
    min-width: 135px;
    max-width: 170px;
}
.profile-feature {
    padding: 0 16px 0 16px;
    width: 100%;
}
#username {
    padding-bottom: 4px;
}
#logout {
    margin: 0 16px 0 16px;
}

::-webkit-datetime-edit-month-field { cursor: text; }
::-webkit-datetime-edit-day-field { cursor: text; }
::-webkit-datetime-edit-year-field { cursor: text; }
::-webkit-calendar-picker-indicator { cursor: pointer; }
